body{
     background-color:  #f5f5f5;
}


h1{
    text-align:center;
}

h3{
 text-align:center;
 color: red;
}
h5{
    color: brown;
   margin-left: 100px;  
 font-family:cambria;
 font-size: 16px;
     font-weight: bold;

}
input{
    background-color: rgba(169, 169, 169, 0.073);
   margin-left: 50px;
    border-radius: 5px;
    border-color: rgba(39, 80, 66, 0.299);
    font-size: 14px;
}
div{
    float: left;
}
img{
    border-radius: 18px;
    margin-left: 500px;
    margin-top: 45px;
    width: 250px;
    height: 250px;

}
